body{
    display: flex;
    flex-direction: column;

}

main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: auto;
}

article{
    flex: 2;
    background-color: blanchedalmond;
    overflow-y: auto;
}

aside{
    flex: 1;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}


footer, header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}


footer {
    margin-top: auto;
}