body{
    display: flex;
    flex-direction: column;

}

ul{
    display: flex;
    flex-direction: row ;
    list-style: none;
}

li{
    padding: 10px;
}

.logo{
    height: 20px;
}

main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: auto;
}

article{
    flex: 2;
    background-color: blanchedalmond;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

aside{
    flex: 1;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}


footer, header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 100%;
}


footer {
    margin-top: auto;
}